gu.vscode/
build/
cpp-src/basic/CMakeCache.txt
cpp-src/basic/CMakeFiles/
cpp-src/basic/Makefile
cpp-src/basic/bin/
cpp-src/basic/cmake_install.cmake
cpp-src/basic/compile_commands.json
cpp-src/basic/lib/
cpp-src/basic/src/CMakeCache.txt
cpp-src/basic/src/CMakeFiles/
cpp-src/basic/src/Makefile
cpp-src/basic/src/cmake_install.cmake
cpp-src/basic/test/CMakeFiles/
cpp-src/basic/test/CTestTestfile.cmake
cpp-src/basic/test/Makefile
cpp-src/basic/test/cmake_install.cmake
java-src/basic/classes/BuilderTest.class
java-src/basic/classes/gash/app/ClientApp.class
java-src/basic/classes/gash/app/ServerApp.class
java-src/basic/classes/gash/payload/BasicBuilder.class
java-src/basic/classes/gash/payload/Message.class
java-src/basic/classes/gash/socket/BasicClient.class
java-src/basic/classes/gash/socket/BasicServer.class
java-src/basic/classes/gash/socket/SessionHandler.class
python-src/venv
